<ng-template #blockTemplate>
    <div class="block-ui-spinner">
        <div class="loader"></div>
        <div *ngIf="message && showAs === 'text'" class="message {{messageStyleClass}}">{{message}}</div>
        <div *ngIf="message && (showAs === 'html' || showAs === 'trusted_html')" class="message {{messageStyleClass}}" [innerHTML]="message | htmlFilter | trustAsHtml:trustAsHtml()"></div>
    </div>
</ng-template>
<block-ui [delayStart]="delay" [template]="blockTemplate" #element>

</block-ui>