@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

.block-ui-message {
}

.svy-block-ui-message {
	background-color: transparent;
	color: #666;
	font-family: 'Roboto';
	font-size: 24px;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #2c3e50;
	font-size: 16px;
	font-weight: normal;
}

.navbar-test {
	background-color: #efefef;
}

.svy-label {
	font-size: 0.9em;
	font-weight: normal;
	color: #757575;
}

.svy-button {
	font-size: 0.9em;
	color: #757575;
}

.svy-check {
	font-size: 1em;
	color: #757575;
	font-weight: normal;
}

.demo-carousel {
	background-color: #000000;
	border: 1px solid #efefef;
}

.rating-on {
	color: gold;
	margin: 0px 2px;
}

.rating-off {
	color: grey;
	margin: 0px 2px;
}

.rating-on-hearts {
	color: red;
	margin: 0px 2px;
}

.demo-carousel .carousel-caption {
}

.demo-carousel span.carousel-caption-text {
    font-size: 1.2em;
}

.demo-carousel ol.carousel-indicators {
}

.body_main {
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
}

.svy-label.banner-orange {
	border: solid #ff8000;
	border-width: 0px 0px 2px 0px;
}

.svy-label.banner {
	font-size: 2.5em;
	font-style: oblique;
}

.crumb { 
	color: #fc8f00 !important;
}

.svy-field {
	font-size: 1em;
}

.svy-combobox {
	font-size: 1em;
}

.ui-grid-row-selected div.ui-grid-cell {
	background-color: #DEF !important;
	color: #222;
	font-weight: bold;
}

.label_header_3 {
	font-weight: bold;
	padding-left: 12px;
	color: #008040;
	background-color: #c2e7c4;
	font-size: 1.2em;
	border-radius: 4px;
}

.label_header_2 {
	font-weight: bold;
	padding-left: 12px;
	color: #005177;
	background-color: #eee;
	font-size: 1.2em;
	border-radius: 4px;
}

.label_header_1 {
	font-weight: bold;
	padding-left: 12px;
	color: #fff;
	background-color: #5a96e1;
	font-size: 1.4em;
	border-radius: 4px;
	padding-left: 20px;
	padding-right: 20px;
}

.tabpanel-border {
	border: 1px solid #eee;
}

.nav-tabs {
	border-bottom: 2px solid #fc8f00;
}

.nav-tabs>li {
	margin-bottom: -2px;
}

.nav-tabs>li>a {
	color: #fc8f00;
}

.nav-tabs > li.active > a {
	color: #fc8f00;
	font-size: 1em;
	font-weight: bold;
	border-color: #fc8f00;
	border-bottom-color: #fff;
	border-bottom-width: 2px;
}

.nav-tabs > li.active > a:hover {
	color: #fc8f00;
	border-color: #fc8f00;
	border-bottom-color: #fff;
	border-bottom-width: 2px;
}

.nav-tabs > li.active > a:focus {
	color: #fc8f00;
	border-color: #fc8f00;
	border-bottom-color: #fff;
	border-bottom-width: 2px;
}