@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
@IMPORT url("samples.css");

.block-ui-message {
}

.svy-block-ui-message {
	background-color: transparent;
	color: #F00;
	font-family: 'Roboto';
	font-size: 24px;
}